@import 'edx-bootstrap';

.pagination {
    justify-content: center;
    align-items: center;

    li {
      list-style: none;
    }
}

.page-item {
    min-width: 50px;
    text-align: center;
}

.disabled {
  color: $pagination-disabled-color;
  pointer-events: none;
  background-color: $pagination-disabled-bg;
  border-color: $pagination-disabled-border-color;
}

.disabled {
  .page-link {
    @extend .disabled
  }
}
