{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 11"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "i18n": {
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "./temp/babel-plugin-react-intl",
            "enforceDescriptions": true
          }
        ]
      ]
    }
  }
}
