.eslintignore
.eslintrc.json
.gitignore
docker-compose.linux.yml
docker-compose.yml
Dockerfile
Makefile
npm-debug.log

config
coverage
node_modules
public

src/data/i18n/locales/tmp/
src/data/i18n/locales/po/
