@import 'config';

.list {
  margin-left: $spacer * 2;
}

.form-section {
	padding: 0 $spacer $spacer;
  font-size: $font-size-base;

  // set label and validation text to be larger in Studio
  div, label {
    font-size: $font-size-base;
  }
}

.bullet-list {
  @extend .list;
  list-style-type: disc;
}
