@import 'edx-bootstrap';

// pad the studio button so that it's not crowded by the web-copy button
.studio-copy-button {
  margin-right: $spacer;
  margin-bottom: $spacer;
}

.copy-icon {
  padding-right: $spacer * 0.25;
}

.no-image-preview {
  @extend .p-3;
  background-color: theme-color('lightest');
  color: theme-color('disabled');
}

.wrap-text {
  overflow-wrap: break-all;
  word-break: break-all;
}

.table th button {
  font-weight: bold;
}

// TODO: figure out how to receive these styles from Paragon instead of this copy-and-paste
// (from: https://github.com/edx/paragon/blob/master/src/Modal/Modal.scss)

.modal-open {
  display: block;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.3);

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.show { opacity: 1; }
}
